* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2F4F4F;
}
.container {
    background-color: #D3D3D3;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}
.time-display {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Roboto mono', monospace;
}
.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#000000;
}
button:active {
    transform: scale(0.98);
}
.button button:hover{
box-shadow: 0 0  20px rgba(0, 0, 0, 0.338);
}
h1{
    color:#000000;
    text-align: center;
    margin-top: 10%;
}